<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Ruta de Acceso a la BDI base de datos intermedia -->
    <add name="Activa" connectionString="aM620lRCZcztp3nCBl5mn5goVmobMgBfinFYHBrSD0RItURbmvubAtQlM66fsOvYxR2dGbKCsIkvsphQig/RoIJj+K25SYOIc0eDutPL7dX1L2S/brODxpli23lwT36BdKINxyJRNz4qJkMHtsaxB5lbl/glZjnw3FNMcvX8qAaUdWEEZruAtqUJ1xiSUygSkQraOiAUXBT+G1A3nj4sBnjG+HP2aqcPyxdfqkMAY2c9YuIuJ+yW4yiTHrT4lHfdvovBIW3S4du1fhJwfRtMvLr50YTXiamiMuUDufckfMH8ujfqhMaC+RDwRWHdT8jB" />
    <!-- Cierre de Acceso a la BDI -->

  </connectionStrings>
  <appSettings>
    <!-- Ruta de Acceso al CRM SOLE -->
    <add key="Usuario_CRM" value="V1OzNY7Vd/KCHOGm4Ob2qHZrYpDmp0JZTSjggtzMBs8="/>
    <add key="Clave_CRM" value="xl6HGoeHvmuEY840q98t4Q=="/>
    <add key="URL_CRM" value="tjA/CL3bvshe1kbd5NRqW/Tn2gCvTPr8oJUcJ5tpbYux0Z0q5XWDsA=="/>
    <add key="Connection_CRM" value="Url={0}; Username={1};Password={2};AuthType=Office365;RequireNewInstance=True;"/>
    <!-- Cierre de Acceso al CRM SOLE -->

    <!-- ========== CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL ====================================== -->
    <add key="CorreoCliente" value="X7QHWLIKGIMzJmG/cgKS3aqC8FW1IV+I"/>
    <add key="CorreoClave" value="ndPaJNCAnVtmkwFrD2KIbA=="/>
    <add key="Host" value="4DsoLkzBfWC6L2dVkGSIkw=="/>
    <add key="Port" value="+WT636dsK3c="/>
    <!-- ========== FIN DE CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL =============================== -->

    <!-- ========== CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO ====================================== -->
    <add key="CorreoSoporte" value="tBJEHuOp4l1cQ3I0HJLOegyWdWidHsd7"/>
    <!-- ========== FIN DE CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO =============================== -->

    <!-- ========== LISTA DE PRECIO POR DEFAULT ====================================== -->
    <add key="ListaPrecios" value="iy+mzd4CE7IyVxtvPufml1BEcrDhh490VGj+OoK8YP+TyfJmSWccCw=="/>
    <!-- ========== FIN DE LISTA DE PRECIO POR DEFAULT =============================== -->

    <!-- ========== Ruta del Log  =============================== -->
    <!--<add key="PathLogServicio" value="D:\home\site\wwwroot\LogIV\"/>-->
    <add key="PathLogServicio" value="D:\Log\Carga Masiva SOLE\"/>
    <!-- ========== Cierre de la Ruta del Log =================== -->
  
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>